body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

footer {
    position: absolute;
    bottom: 0 px;
    width: 100%;
    padding-top: 50px;
}

.contenu {
    height: 100%;
    margin-bottom: 50px;
}

#navbar_responsive {
    display: none;
}

@media only screen and (max-width: 500px) {
    /* Appareils avec une résolution de 500 pixels ou moins */
    #navbar_responsive {
        display: initial;
    }
    #navbar_classic {
        display: none;
    }
    .menu_display {
        display: none;
    }
    .h1_title {
        font-size: 30px;
    }
}